  html, body {
    height: 100%;
      background-color:black;

}


@media  (max-width:1500px){
    #myTable{
        width:100%;
	border-collapse: collapse;
    }

    td{
        display:block;
	border-collapse: collapse;
        width:100%;
        height: 100%;
    }

    tr{
        display:block;

    }

    tr tr{
        margin-bottom:0;
    }
}